// Primary Colors
$pcBandSite-Black: #323232;
$pcSilver: #AFAFAF;
$pcWhite: #FFFFFF;

// Secondary Colors
$scBandSite-DarkBlack: #000000;
$scMercury: #E1E1E1;
$scAlabaster: #FAFAFA;
$errorState: #D22D2D;